<div class="row">

    <div class="col-md-8 col-md-offset-2">

        <div ng-include="'/partials/messages.html'"></div>
        <div class="jumbotron">
            <form name="registrationForm" ng-submit="register()" role="form">
                <div feedback-form-group="true" field="registrationForm.regUsername">
                    <label for="regUsername">Username</label>
                    <input focus-me="true" ng-model="form.username" required="true" type="email" class="form-control" name="regUsername" id="regUsername" placeholder="Enter email">
                </div>
                <div feedback-form-group="true" field="registrationForm.regPassword">
                    <label for="regPassword">Password</label>
                    <input ng-model="form.password" required="true" type="password" class="form-control" name="regPassword" id="regPassword" placeholder="Enter password">
                </div>
                <button type="submit" ng-disabled="registrationForm.$invalid" class="btn btn-success">Submit</button>
                <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                <p></p>
                <div class="alert alert-danger" ng-show="registrationForm.regUsername.$error.email">Please enter a valid email address</div>
            </form>
        </div>

    </div>

</div>

